extends layout

block content
  h1 #{title}

  form(method='POST' action='' enctype="multipart/form-data")
    div(class="form")
      label(for='title') Brand Name
      input#title.form-control(type='text' placeholder='Dempster\'s, Villaggio, etc...' name='title' required='true' value=(undefined===breadbrand ? '' : breadbrand.title))
      label(for='description') Brand description
      input#description.form-control(type='text' placeholder='At Dempster’s®, the values that shape our great country are the same values we put into each and every one of our products. For us...' name='description' required='true' value=(undefined===breadbrand ? '' : breadbrand.description))
      label(for="image")
      input#image(type='file' name="image" class='imgupload')
      - if(passwordNeeded === true)
        label(for='password') #[i Password]
        input#title.form-control(type='password' name='password' required='true')
      
      button.btn.btn-primary(type='submit' class="btn submit") Submit

  if errors
    div(class='error-container')
      h2 Please note the following issues with your request
      ul(class="error-list")
        for error in errors
          li!= error.msg