extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='type') Brand Name:
      input#title.form-control(type='text' placeholder='Dempster\'s, Villaggio, etc...' name='title' required='true' value=(undefined===breadbrand ? '' : breadbrand.title))
      label(for='details') Brand description:
      input#description.form-control(type='text' placeholder='At Dempster’s®, the values that shape our great country are the same values we put into each and every one of our products. For us...' name='description' required='true' value=(undefined===breadbrand ? '' : breadbrand.description))
      label(for='type') Password:
      if breadbrand !== undefined
        div Incorrect password
      input#title.form-control(type='password' name='password' required='true' )

    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg