extends layout

block content
  h1= title
  p View our selection of our many different breads and their respective brands!

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The following is a list of all breads and their brands.

    ul
      li #[strong Bread Brands:] !{data.breadbrand_count}
      li #[strong Specific Breads:] !{data.specificbread_count}
