@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=MonteCarlo&family=Raleway:wght@300&display=swap");

html {
  background-color: rgb(243, 234, 182);
  font-family: "Cormorant", serif;
}

html * {
  word-wrap: break-word;
}

/*
===========
NAV BOTTOM
===========
*/

.nav {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 0 auto;
}

.nav li {
  margin: 5px 10px;
}

.nav-link {
  font-family: "Raleway", sans-serif;
  font-family: "MonteCarlo", cursive;
  text-decoration: none;
  color: black;
  font-size: 30px;
  padding: 0 20px;
  border-bottom: 2px solid rgb(161, 153, 105);
  transition: opacity 0.3s ease-in-out;
  height: 50px;
  width: 200px;
}

.nav-shopping-cart {
  border-bottom: none;
}

.nav li a img {
  height: 50px;
}

.nav-link:hover {
  opacity: 0.5;
}

/*
===========
NAV TOP
DEFAULT RENDERING BELOW
===========
*/

.link {
  text-decoration: underline;
  color: black;
  transition: opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.link:hover {
  opacity: 0.5;
  transform: scale(1.1);
}

.rendered-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
  padding-bottom: 30px;
}

h1,
h2 {
  font-family: "MonteCarlo", cursive;
}

/*
===========
DEFAULT RENDERING ABOVE
HOME PAGE BELOW
===========
*/

.paragraph {
  max-width: 500px;
  text-align: center;
}

/*
===========
HOME PAGE ABOVE
BRAND DETAILS BELOW
===========
*/

.list-page {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
}

.brand-logo {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-top: 30px;
}

.list-title {
  margin-right: auto;
}

.breads-list {
  /* overflow-y: auto; */
  /* max-height: 700px; */
  width: 90%;
}

.breads-list::-webkit-scrollbar {
  background: rgb(218, 218, 218);
  border-radius: 5px;
}

.breads-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgb(226, 187, 15);
}

.brand-description {
  word-wrap: break-word;
}

.change-buttons {
  margin-right: auto;
}

.change-btns {
  text-decoration: none;
}

.logo-mini {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.items-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
}

.items-list li {
  margin-bottom: 30px;
}

.items-list-img-title {
  display: flex;
  align-items: center;
}

.items-list-img-title a {
  margin-left: 15px;
  text-decoration: none;
}

.cart-input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

.btn {
  font-family: "Cormorant", serif;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  transition: background 0.3s ease-in-out;
  transition: color 0.2s ease-in-out;
  background: rgb(255, 253, 243);
}

.btn:hover {
  cursor: pointer;
  background: burlywood;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
}

.form * {
  margin-top: 10px;
}

.form label {
  font-style: italic;
}

.form input {
  background: none;
  border: none;
  border-bottom: 1px solid black;
}

.form input:focus {
  outline: none;
}

.imgupload {
  border-bottom: none !important;
}

.submit {
  margin: 10px auto;
}

.shopping-list {
  width: 80%;
}

.shopping-cart-item {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.shopping-cart-item * {
  padding: 10px;
}

.grand-total {
  font-size: 22px;
  font-weight: bold;
  width: max-content;
  margin-left: 60%;
}

.empty_list {
  font-size: 30px;
  opacity: 0.5;
  word-wrap: break-word;
}

.error-list {
  padding: 0;
  list-style-type: none;
  font-weight: bold;
  text-decoration: underline;
}
